%form.form-horizontal{role:'form',method:'POST',action:to("/settings")}
  %div.form-group
    %label.col-sm-2.control-label{for:'tags'}= t('profistory.views.edit_user.tags')
    %div.col-sm-10
      %input.form-control{name:'tags',type:'text',value:current_user.tags.join(", ")}
  %div.form-group
    %div.col-sm-offset-2.col-sm-10
      %button{type:'submit',class:'btn btn-default'}= t('profistory.views.edit_user.update')
