Create your portfolio with URLs
%h2 recent works
%ul
  - @works.each do |work|
    %li
      %a{href:to("#{work.user.name}/#{CGI.escape(work.title)}")}= work.title
      by
      %a{href:to(work.user.name)}= work.user.screen_name
