%h2= t('profistory.views.list_users.users')
%div.row
  - @atoz.each do |c|
    %div.col-md-4
      %h2= c
      %ul
        - @users.each do |user|
          - if user.name[0].upcase == c
            %li
              %a{href:to("users/#{user.name}")}= user.screen_name
