a:link,a:visited,a:hover,a:active {
  color: blue;
}

a.operation:link,
a.operation:visited,
a.operation:hover,
a.operation:active {
  color: #666666;
}

img {
  max-width: 100%;
}

div {
  word-break: break-all;
}

img.favicon {
  width: 1em;
  height: 1em;
  filter: grayscale(100%);
}

.profistory-work-link {
  padding-bottom: 10px;
}

.profistory-navbar {
  padding-top: 1em;
  padding-bottom: 0em;
}

.profistory-navbar-right {
  float: right;
}

.profistory-links-textarea {
  height: 1000;
}

a.more {
  float: right;
}

a.tag:link,a.tag:visited,a.tag:hover,a.tag:active {
  /*color: #aa5511;*/
  color: #c7254e;
}
